<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/controllers.js"></script>
    
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="DrawingListCtrl">
      <ion-header-bar class="bar-positive">
        <h1 class="title">Drawings</h1>
        <button class="button button-clear" type="submit" ng-click="openAddModal()"><span class="ion-plus-circled"></span></button>
      </ion-header-bar>
      <ion-content>
      	
      	<ion-list>
      		<ion-item ng-show="drawings.length === 0">
      			No Drawings yet!
      		</ion-item>
      		<ion-item ng-repeat="drawing in drawings">
      			{{drawing.name}}
	  				<ion-option-button class="button-assertive" ng-click="deleteDrawing(drawing)">
						Delete
					</ion-option-button>
			</ion-item>
      		
      	</ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
